.main{
    width: 70%;
    height: 100%;
    min-height: 400px;
    margin:0 auto;
    display: flex;
    box-shadow: 8px 3px 19px -4px rgba(162,41,219,0.39);
    -webkit-box-shadow: 8px 3px 19px -4px rgba(162,41,219,0.39);
    -moz-box-shadow: 8px 3px 19px -4px rgba(162,41,219,0.39);
}
.option{
    width: 50%;
    display: block;
    padding: 35px;
    text-align: center;
    gap:20px;
    box-sizing: border-box;
}
.photo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.username{
    font-size: 15px;
}
.photo img{
    border-radius: 55px;
    margin-bottom: 15px;
}
.title{
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
    font-size: 15px;
}
.input{
    text-align: left;
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
    border: 1px solid #8080802e;
    padding:3px;
}
.input div{
    margin-bottom: 3px;
}
.input input{
   width:  100%;
   border-radius: 5px;
   border: 0px;
   padding: 8px;
   box-sizing: border-box;
}
.button_save{
    width: 100%;
    padding: 8px;
    background-color: #9c27b0;
    color: #fff;
    border: 0px;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
}

@media only screen and (max-width: 865px) {
    .main{
        width: 100%;
        display: block;
    }
    .option{
        width: 100%;
    }
    .input{
        width: 100%;
    }
}